@model IEnumerable<ProductOrderCountDto>
<div class="wg-box">
    <div class="flex items-center justify-between">
        <h5>En Çok Satan Ürünler</h5>
        @* <div class="dropdown default">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="view-all">View all<i class="icon-chevron-down"></i></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a href="javascript:void(0);">3 days</a>
                </li>
                <li>
                    <a href="javascript:void(0);">7 days</a>
                </li>
            </ul>
        </div> *@
    </div>
    <div class="wg-table table-product-overview t1">
        <ul class="table-title flex gap20 mb-14">
            <li>
                <div class="body-title">Ürün</div>
            </li>
            <li>
                <div class="body-title">Fiyat</div>
            </li>
            <li>
                <div class="body-title">Kategori</div>
            </li>
            <li>
                <div class="body-title">Toplam Satış</div>
            </li>
            <li>
                <div class="body-title">Toplam Gelir</div>
            </li>
            <li>
                <div class="body-title">Stok</div>
            </li>
        </ul>
        <div class="divider mb-14"></div>
        <ul class="flex flex-column gap10">
            @foreach (var product in Model)
            {
                <li class="product-item gap14">
                    <div class="image no-bg">
                        <img src="~/admin_assets/images/products/26.png" alt="">
                    </div>
                    <div class="flex items-center justify-between flex-grow gap20">
                        <div class="name">
                            <a href="product-list.html" class="body-text">@product.ProductName</a>
                        </div>
                        <div class="body-text">@product.Price₺</div>
                        <div class="body-text">@product.CategoryName</div>
                        <div class="body-text">@product.OrderCount Adet</div>
                        <div class="body-text">@product.Revenue₺</div>
                        @if (product.InStock == true)
                        {
                            <div>
                                <div class="block-available">Stokta</div>
                            </div>
                        }
                        else if (product.InStock == false || product.Stock == 0)
                        {
                            <div>
                                <div class="block-not-available">Stokta Yok</div>
                            </div>
                        }
                    </div>
                </li>
                <li class="divider"></li>
            }
        </ul>
    </div>
    @* <div class="divider"></div>
    <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing 5 entries</div>
        <ul class="wg-pagination">
            <li>
                <a href="#"><i class="icon-chevron-left"></i></a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li class="active">
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#"><i class="icon-chevron-right"></i></a>
            </li>
        </ul>
    </div> *@
</div>